.portal {
  padding: 10px;
  width: 100vw;
  background-color: var(--background-color);
  max-height: inherit;
}

.portal-page {
  background-color: var(--background-color);
  min-height: 100vh;
  max-height: 100vh;
}
.portal-page {
  background-color: var(--background-color);
  height: 100%;
}
.sidebar-toggle > * {
  margin-bottom: 10px;
}
