input {
  outline: none;
  border: none;
  padding: 20px 10px 20px 10px;
  background: none;
  border-bottom: 2px solid #fff;
  color: white;
  /* font-weight: 600; */
  text-rendering: auto;
  text-indent: 0px;
  text-shadow: none;
  width: 40%;
  margin-bottom: 10px;
  font-size: 1.05rem;
}
input:focus {
  border-bottom: 2px solid #24c4a3;
  transition: 250ms all;
  font-weight: normal;
}
.jigsaw {
  text-align: center;
}

.jigsaw__solved-board {
  position: relative;
  background-size: cover;
}

.jigsaw__solved-board:before {
  content: "";
  background-color: "#1e2a3a";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.jigsaw__solved-board,
.jigsaw__shuffled-board {
  margin: 20px auto;
  width: 90%;
  list-style-type: none;
  padding: 0;
  font-size: 0;
}

.jigsaw li {
  position: relative;
  text-align: left;
  display: inline-block;
  width: 18px;
  height: 361px;
  border: 1px solid #ddd;
  border-width: 0 1px 1px 0;
}

.jigsaw li:empty:hover:before {
  opacity: 1;
}

.jigsaw li img {
  width: 19px;
  height: 362px;
  position: absolute;
  cursor: grab;
  transition: transform 200ms ease, box-shadow 200ms ease;
}

.jigsaw li img:hover {
  z-index: 2;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
