html {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/background.jpg");
  background-position: "center";
  background-size: "cover";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}
