html {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vh;
  background-image: url('./Components/fiber.jpg');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
  min-width: 100vh;
}
