.container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #1e2a3a;
  box-shadow: 4px 16px 16px 4px rgba(0, 0, 0, 0.2);
}

.main-title {
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

td,
th {
  text-align: center !important;
}
