input {
  outline: none;
  border: none;
  padding: 20px 10px 20px 10px;
  background: none;
  border-bottom: 2px solid #fff;
  color: white;
  /* font-weight: 600; */
  text-rendering: auto;
  text-indent: 0px;
  text-shadow: none;
  width: 40%;
  margin-bottom: 10px;
  font-size: 1.05rem;
}
input:focus {
  border-bottom: 2px solid #24c4a3;
  transition: 250ms all;
  font-weight: normal;
}
.ant-message {
    bottom: 20px;
    top: initial;
  }
/* input::after {
  content: "";
  border-bottom: 2px solid #eee;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
input::after:focus {
  border-bottom: 2px solid #000;
} */
/* input:focus:after {
  transform: scaleX(1);
}
input.fromRight:after {
  transform-origin: 100% 50%;
}
input.fromLeft:after {
  transform-origin: 0% 50%;
} */
