input {
  outline: none;
  border: none;
  padding: 20px 10px 20px 10px;
  background: none;
  border-bottom: 2px solid #fff;
  color: white;
  /* font-weight: 600; */
  text-rendering: auto;
  text-indent: 0px;
  text-shadow: none;
  width: 40%;
  margin-bottom: 10px;
  font-size: 1.05rem;
}
input:focus {
  border-bottom: 2px solid #24c4a3;
  transition: 250ms all;
  font-weight: normal;
}
