.card {
    height : 120px;
    width : 90px;
}
.shadow{
    box-shadow : 1px 1px 2px white, 0 0 10px cyan, 0 0 5px cyan !important;
}
.card:hover{
    box-shadow : 1px 1px 2px black, 0 0 10px white, 0 0 5px black;
}