/* .countdown {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
 
.countdown__item {
  color:  #cff8fa;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  margin-left: 0vw;
  position: relative;
  width: 55px;
  height: 100px;
}
 
.countdown__item span {
  color:  #cff8fa;
  font-size: .5vw;
  font-weight: 600;
  text-transform: uppercase;
} */

#link_one, #link_two, #link_three{
  color: #21b4ba;
}
#link_one:hover, #link_two:hover, #link_three:hover{
  color: #21b4ba;
}

Table{
  color: #cff8fa;
  text-align: center;
}

.colm{
  text-align: center;
}


.acc{
  color: #cff8fa;
}

.lists{
  color: #cff8fa;
}
