@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.navb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 3vh;
  padding-left: 3vw;
  padding-right: 3vw;
}

table {
  color: #cff8fa;
  text-align: center;
  font-size: 1.2rem;
}

.colm {
  text-align: center;
}

.acc {
  color: #cff8fa;
}

.lists {
  color: #cff8fa;
}

.borders {
  border: 0.075vw #19999e solid;
}

.hints {
  padding: 1vw;
}

* {
  font-family: "Lato", sans-serif;
}
