.body {
    margin:auto;
    padding: auto;
    width:80%;
}
.progress{
    flex-wrap: wrap;
    flex:4;
}

.progress > * {
    padding: 2rem;
    width: 20%;
}
.about {
    padding: 2rem;
}
.table{
    margin:1rem;
    padding:2rem;
    width: 80%;
    max-width: 100%;
    align-self: center;
}
.table th {
    padding-top: 0rem;
    padding-bottom: 0.75rem;
	text-align:center;
	font-weight: 600;
	border-bottom: 2px solid #9ae6b4;
} 

.dividingHeader {
    align-self: flex-start;
    padding-left: 10px;
}